{% extends 'layout.html' %}

{% block content %}
<div class="row">
  <div class="col-md-8">
    
    {% with messages=get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
    {% endwith %}
    
          {% for post in posts %}
            <div class="card">
              <div class="card-body">
                <h2><a class="h2" href="/post/{{post.id}}">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.content }}</p>
                <a class="mr-2" href="#">Posted {{ post.date_posted.strftime('%Y-%m-%d') }}  By {{ post.author.username }} </a>
              </div>
            </div>
    
        {% endfor %}
     
  </div>
  <div class="col-md-4">

  </div>


  {% endblock content %}